.footer {
  background-color: #262626;
  color: white;
  //position: fixed;
  //bottom: 0;
  height: 120px;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 600px;
    margin-left: 15px;
    margin-top: 20px;


    h3 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;

      .mat-icon {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 33.33%;

    h3 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 0px;
    }

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }
  }

  .our-coffee {
    background-color: #1f1f1f;
  }

  .explore {
    background-color: #2b2b2b;
  }

  .contact-us {
    background-color: #3b3b3b;
  }

  @media screen and (max-width: 768px) {
    .column {
      flex-basis: 50%;
    }
  }

  @media screen and (max-width: 480px) {
    .column {
      flex-basis: 100%;
    }
  }
}
