<footer class="footer">

  <div class="logo">
    <h3>JULIAN ROJAS</h3>
    <a routerLink="/">
      <mat-icon>code</mat-icon>
    </a>
  </div>

  <div class="column">
    <h3>OUR COFFEE</h3>
    <a href="#">Coffe</a>
    <a href="#">Biscuits</a>
    <a href="#">Mugs</a>
  </div>

  <div class="column">
    <h3>EXPLORE</h3>
    <a href="#">About Us</a>
    <a href="#">Our places</a>
  </div>

  <div class="column">
    <h3>CONTACT US</h3>
    <p>New York, 123 fake St</p>
    <p>kafe@sofkafe.com</p>
  </div>

</footer>
