<footer class="footer">

  <!--   <div class="logo">
    <h3>JULIAN ROJAS</h3>
    <a routerLink="/">
      <mat-icon>code</mat-icon>
    </a>
  </div> -->

  <div ngClass="footer-content">
    <div ngClass="footer-section">
      <h3>CONTACTO</h3>
      <div ngClass="separator"></div>
      <div ngClass="social-icons">
        <div></div>
        <a style="color: #d3d3d3;" href="mailto:julianrojasgeo@gmail.com" role="button"><i class="fas fa-envelope"></i></a>
        <a style="color: #d3d3d3;" href="https://www.linkedin.com/in/julian-rojas-geologist-developer/" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a style="color: #d3d3d3;" href="https://github.com/JulianGeo" role="button"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
  <div ngClass="developed-by">
    Desarrollado por Julián Rojas - 2023
  </div>
</footer>
