<div ngClass="profile-resume-container">
  <div ngClass="profile-resume">
    <img src="../../../../assets/Avatar.png" alt="">
    <p>Desarrollador Junior de Java-Springboot y Angular, altamente motivado y dedicado,
      con dominio de inglés conversacional, en busca de un puesto desafiante para
      aprovechar mis habilidades y conocimientos en desarrollo de software. Con una sólida
      formación en geología y experiencia en el uso de software GIS y Python para ciencia de
      datos, con mucha motivación por hacer la transición de mi carrera al apasionante
      mundo del desarrollo de software</p>
  </div>
  <div ngClass="app-technologies-chart-container">
    <app-technologies-chart></app-technologies-chart>
  </div>
</div>
