.about-section {
  background-color: #f5f5f5;
  padding: 50px 0;


  .about-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .separator {
      width: 70px;
      height: 2px;
      background-color: #146C94;
    }
  }

  .main-skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .main-skill-container {
      justify-items: center;

      .skill-description {
        text-align: center;
        h3{
          max-width: 120px;
          word-wrap: break-word;
        }
        p {
          max-width: 120px;
          word-wrap: break-word;
        }
      }


      .main-skill {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 10px;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 100%;
          background-color: #146C94;
          clip-path: polygon(50% 0%,
              75% 0%,
              100% 50%,
              75% 100%,
              50% 100%,
              25% 100%,
              0% 50%,
              25% 0%);
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 45px;
          color: #fff;
        }
      }
    }


  }

  .container {
    max-width: 960px;
    margin: 0 auto;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .profile-resume,
    .working-experience,
    .education,
    .skills {
      margin-bottom: 40px;

      h2 {
        color: #333;
      }
    }
  }
}



.progress {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: auto;
  max-width: 600px;

  .progress-bar-container {
    min-height: 30px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    background-color: #F6F1F1;


    .skill-tag {
      width: 150px;
      height: 100%;
      background-color: #19A7CE;

    }

/*     .skill-progress {
      flex-grow: 1;
      height: 100%;
      background-color: #AFD3E2;
      position: relative;

      .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #146C94;
      }
    } */

    .skill-progress {
      flex-grow: 1;
      height: 100%;
      background-color: #AFD3E2;
      position: relative;

      .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #146C94;
        width: 0; // Initially set the width to 0

        &.angular {
          width: 70%; // Set the width based on the skill level (e.g., 70%)
        }

        &.typescript {
          width: 80%; // Set the width based on the skill level (e.g., 80%)
        }
      }
    }

    .skill-progress-number {
      width: 40px;
      text-align: center;
      p {
        margin: 0;
      }
    }
  }
}




#main-skill-container-1{
  animation: zoomIn 0.5s;
}
#main-skill-container-2{
  animation: zoomIn 1s;
}
#main-skill-container-3{
  animation: zoomIn 1.5s;
}
#main-skill-container-4{
  animation: zoomIn 2s;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
