.about-section {
  background-color: #f5f5f5;
  padding: 50px 0;

  .container {
    max-width: 960px;
    margin: 0 auto;

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .profile-resume,
    .working-experience,
    .education,
    .skills {
      margin-bottom: 40px;

      h2 {
        color: #333;
      }
    }
  }
}
