<section ngClass="about-section">
  <div ngClass="about-section-header">
    <h2>Perfil</h2>
    <div ngClass="separator"></div>
  </div>
  <div ngClass="container">

    <div ngClass="main-skills-container">
      <div ngClass="main-skill-container" id="main-skill-container-1">
        <div ngClass="main-skill">
          <i class="fas fa-database"></i>
        </div>
        <div ngClass="skill-description">
          <h3>Backend</h3>
          <p>Java & Spring APIs</p>
        </div>
      </div>
      <div ngClass="main-skill-container" id="main-skill-container-2">
        <div ngClass="main-skill">
          <i class="fab fa-angular"></i>
        </div>
        <div ngClass="skill-description">
          <h3>Frontend</h3>
          <p>Angular SPA</p>
        </div>
      </div>
      <div ngClass="main-skill-container" id="main-skill-container-3">
        <div ngClass="main-skill">
          <i class="far fa-map"></i>
        </div>
        <div ngClass="skill-description">
          <h3>GIS</h3>
          <p>Arcgis & Qgis maps</p>
        </div>
      </div>
      <div ngClass="main-skill-container" id="main-skill-container-4">
        <div ngClass="main-skill">
          <i class="fab fa-python"></i>
        </div>
        <div ngClass="skill-description">
          <h3>Data science</h3>
          <p>Python scripting for data science</p>
        </div>
      </div>




    </div>

    <div ngClass="profile-resume">
      <h2>Profile Resume</h2>
      <!-- Your profile resume content goes here -->
    </div>

    <div ngClass="working-experience">
      <h2>Working Experience</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellat ad officiis necessitatibus natus
      delectus, possimus minus atque magni! Ipsum ex quibusdam iste magnam exercitationem laboriosam reprehenderit atque
      possimus minima.
    </div>

    <div ngClass="education">
      <h2>Education</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellendus officiis iste repellat nam dolorem
      veniam nesciunt optio nobis facere ipsam alias soluta quasi dolorum, eligendi accusantium! Voluptate, ducimus qui.
    </div>

    <div ngClass="skills">
      <h2>Skills</h2>
      <!-- Your skills content goes here -->
    </div>
  </div>
</section>
